# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Publish Package

on:
  release:
    paths: "apitable.js/.version"
    types: [created]
    tags:
      - "apitable.js@"

jobs:
  publish:
    defaults:
      run:
        shell: bash
        working-directory: apitable.js
    runs-on: ubuntu-latest
    environment: api
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: run build
        env:
          DOMAIN: ${{ secrets.DOMAIN }}
          TOKEN: ${{ secrets.TOKEN }}
          DATASHEET_ID: ${{ secrets.DATASHEET_ID }}
          FOLDER_ID: ${{ secrets.FOLDER_ID }}
          SPACE_ID: ${{ secrets.SPACE_ID }}
          VIEW_ID: ${{ secrets.VIEW_ID }}
        run: |
          yarn
          yarn test
          yarn build

  publish-npm:
    defaults:
      run:
        shell: bash
        working-directory: apitable.js
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: |
          yarn
          yarn publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN }}
