name: Python Auto Test

on:
  workflow_dispatch:
  push:
    paths:
      - "apitable.py/**"
      - ".github/workflows/py-test.yml"
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ["**"]
    paths:
      - "apitable.py/**"
      - ".github/workflows/py-test.yml"

jobs:
  unit_test:
    runs-on: ubuntu-latest
    environment: api
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10.12
      - name: Python Poetry
        uses: abatilo/actions-poetry@v2
        with:
          working-directory: ./apitable.py
          poetry-version: 1.5.1
      - name: just build
        run: |
          cd apitable.py
          make install
          make setup
      - name: test
        env:
          DOMAIN: ${{secrets.DOMAIN}}
          TOKEN: ${{secrets.TOKEN}}
          DATASHEET_ID: ${{secrets.PYTHON_DATASHEET_ID}}
          DATASHEET_ID_FOR_GET: ${{secrets.PYTHON_DATASHEET_ID_FOR_GET}}
          VIEW_ID: ${{secrets.PYTHON_VIEW_ID}}
          SPACE_ID: ${{secrets.SPACE_ID}}
          FOLDER_ID: ${{secrets.FOLDER_ID}}
        run: |
          cd apitable.py
          make test
